<div class="menu-container">
  <div class="menu">
    <div class="signup"><a href="/users/new">Sign Up</a></div>
    <div class="login"><a href="/sessions/new">Login</a></div>
  </div>
</div>
<div class="header-container">
  <div class="header">
    <div class="h1">
      <a href="/apron"><h1>APRON</h1></a>
    </div>
    <div class="h4"><h4>Share Your Recipes</h4></div>
  </div>
</div>
