<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
    <title>APRON</title>
  </head>
  <body>
    <% include ./partials/menu.ejs %>
    <a href="/apron/new"><button>add recipe</button></a>
    <a href="#"><button>all recipes</button></a>
    <div class="photo-grid-container">
      <div class="photo-grid">
        <% for (let i = 0; i < recipe.length; i++) { %>
        <div class="photo-grid-item">
          <a href="/apron/<%= recipe[i].id %>">
            <img src="<%= recipe[i].img %>" />
          </a>
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
