<!DOCTYPE html>
<html>
  <head>
    <title>APRON</title>
  </head>
  <body>
    <h1>APRON - Share your recipes!</h1>
    <a href="/apron/new"><button>add recipe</button></a>
    <a href="#"><button>all recipes</button></a>
    <div>
      <% for (let i = 0; i < recipe.length; i++) { %>
      <div>
        <a href="/apron/<%= recipe[i].id %>">
          <img src="<%= recipe[i].img %>" />
        </a>
      </div>
      <% } %>
    </div>
  </body>
</html>
