<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
    <title>APRON</title>
  </head>
  <body>
    <% include ../partials/menu.ejs %>
    <div class="menu-container">
      <div class="menu">
        <% if(currentUser) { %> Welcome <%=currentUser.username%>!
        <form action="/sessions?_method=DELETE" method="POST">
          <input
            type="submit"
            value="Logout"
            class="waves-effect waves-light btn"
          />
        </form>
        <% } else { %>
        <div class="signup">
          <a href="/users/new"><button>Sign Up</button></a>
        </div>
        <div class="login">
          <a href="/sessions/new"><button>Login</button></a>
        </div>
        <% } %>
      </div>
    </div>
    <div class="button">
      <div class="addRecipe">
        <a href="/apron/new"><button>add recipe</button></a>
      </div>
      <div class="allRecipe">
        <a href="#"><button>my recipes</button></a>
      </div>
    </div>
    <div class="photo-grid-container">
      <div class="photo-grid">
        <% for (let i = 0; i < recipe.length; i++) { %>
        <div class="photo-grid-item">
          <a href="/apron/<%= recipe[i].id %>">
            <img src="<%= recipe[i].img %>" />
          </a>
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
