<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
    <title>APRON</title>
  </head>
  <body>
    <% include ../partials/menu.ejs %>
    <div class="menu-container">
      <div class="menu">
        <% if(currentUser) { %> Welcome <%=currentUser.username%>!
        <form action="/sessions?_method=DELETE" method="POST">
          <input
            type="submit"
            value="Logout"
            class="waves-effect waves-light btn"
          />
        </form>
        <div class="button">
          <div class="addRecipe">
            <a href="/apron/new">
              <input
                type="submit"
                value="add recipe"
                class="waves-effect waves-light btn"
              />
            </a>
          </div>
        </div>
        <% } else { %>
        <div class="signup">
          <a href="/users/new">
            <input
              type="submit"
              value="sign up"
              class="waves-effect waves-light btn"
            />
          </a>
        </div>
        <div class="login">
          <a href="/sessions/new">
            <input
              type="submit"
              value="log in"
              class="waves-effect waves-light btn"
            />
          </a>
        </div>
        <% } %>
      </div>
    </div>
    <div class="photo-grid-container">
      <div class="photo-grid">
        <% for (let i = 0; i < recipe.length; i++) { %>
        <div class="photo-grid-item">
          <a href="/apron/<%= recipe[i].id %>">
            <img src="<%= recipe[i].img %>" />
          </a>
          <div class="photo-name"><%= recipe[i].name %></div>
        </div>

        <% } %>
      </div>
    </div>
  </body>
</html>
